@import "tailwindcss";

@theme {
  --color-neutral-800: #1E1E1E;
  --color-neutral-900: #121212;
  --color-emerald-500: #10B981;
  --color-red-500: #EF4444;
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-900 text-white font-inter;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-outfit;
  }
}

